---
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profile</title>
    </head>
    <body>
        <Navbar />
        <h2>Your Spotify Profile</h2>
        <div id="profileInfo">
            <p>Loading your profile...</p>
        </div>
        <!-- <div>
            <h1>Logged in as ${profile.display_name}</h1>
            <img src="${profile.images?.[0]?.url || ''}" width="150" />
            <p><strong>ID:</strong> ${profile.id}</p>
            <p><strong>Email:</strong> ${profile.email}</p>
            <p>
                <strong>Spotify Profile:</strong>
                <a href="${profile.external_urls.spotify}" target="_blank"
                    >View Profile</a>
            </p>
            <p><strong>Country:</strong> ${profile.country}</p>
        </div> -->

        <script>
            async function fetchProfile() {
                try {
                    const response = await fetch("/profile", {
                        method: "GET",
                        credentials: "include", // 傳遞 Cookie-session
                    });

                    if (response.ok) {
                        const data = await response.json();
                        const profileInfo = document.querySelector(
                            "#profileInfo",
                        ) as HTMLDivElement;

                        profileInfo.innerHTML = `
            <h3>Welcome, ${data.locals.username}</h3>
            <p>Access Token: ${data.locals.access_token}</p>
          `;
                    } else {
                        alert("Please login first");
                        window.location.href = "/login";
                    }
                } catch (error) {
                    console.error("Error fetching profile:", error);
                }
            }

            fetchProfile();
        </script>
    </body>
</html>
